MONGO_USER=gexuser
MONGO_PWD=
MONGO_DB_URL=
MONGO_DB_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_ENDPOINT_URL=
DELTA_TABLE=
SIERRA_FILES_PATH=
S3_BUCKET=
PG_USER_NAME=
PG_USER_PWD=
PG_REF_ID=
PG_REGION=
PG_URL_PORT=6543
